<table border="1">
    <tr>
        <th>Дата</th>
        <th>Заголовок</th>
        <th>
            <a href="#">Редактировать</a>
        </th>
        <th></th>    
    
    </tr>
    <tr>
        <td>2016-08-15</td>
        <td>Заголовок1</td>
        <td><a href="#">Редактировать</a></td>
        <td><a href="#">Удалить</a></td>
    </tr>
    <tr>
        <td>2016-08-15</td>
        <td>Заголовок2</td>
        <td><a href="#">Редактировать</a></td>
        <td><a href="#">Удалить</a></td>
    </tr>
    <tr>
        <td>2016-08-15</td>
        <td>заголовок3</td>
        <td><a href="#">Редактировать</a></td>
        <td><a href="#">Удалить</a></td>
    </tr>








</table>